body {
  background-color: lightblue;
  text-align: center;
}

#birthdaySelection {
  height:150px;
  min-height: 100px;
}

#age {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#age>label {
  padding-left: 5px;
}

#age>input {
  width:20vw;
  max-width: 150px;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  overflow: none;
}

#planetSelection {
  height:250px;
}

#planets {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height:180px;
  position: relative;
}

#planetFadeout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.planet {
  position: relative;
  top:50%;
  transform: translate(0%,-50%);
  height:150px;
  width:150px;
  margin: 5px;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}

#pHiderBefore {
  height:100%;
  width:50%;
  position: absolute;
  top:0;
  background-image: linear-gradient(to right, lightblue ,lightblue,rgba(0, 0, 0, 0));
}

#pHiderAfter {
  height:100%;
  width:50%;
  position: absolute;
  top:0;
  right:0;
  background-image: linear-gradient(to left, lightblue ,lightblue,rgba(0, 0, 0, 0));
}

#output {
  width:90vw;
  margin-right: auto;
  margin-left: auto;
}

#ageout, #nextBirthday, #lifespan, #timeLeft { 
  width:45vw;
  height:150px;
  margin:0px;
  border: 2px solid black;
  border-radius: 50px;
  padding:20px;
}

.boxflex {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
}

#output>div>h3 {
  text-decoration: underline;
}